# normal rules
.*

# do NOT ignore this file
!.gitignore

# build directories
obj
build-*

# cscope files
cscope.*
ncscope.*

# conf binaries
package/config/conf
package/config/mconf

# userspace binaries & initial directory
src/user-ucore/bin
src/user-ucore/_initial

# generated manuals
*.man

#ctags file
tags

#temp files
*~
