menu "Memory Management"

config SWAP
	bool "Support for paging of anonymous memory (swap)"
	default y
	help
		Enable support for providing more virtual memory than actual RAM
		present by using disk storage.

choice
  prompt "Heap"
  default HEAP_SLAB

config HEAP_SLAB
  bool "SLAB"

config HEAP_SLOB
  bool "SLOB"

endchoice

endmenu
