MEM_BUILD_DIR=/mnt
if [ -f $MEM_BUILD_DIR/in-mem-build-dir ]; then
    BUILD_DIR_I386=$MEM_BUILD_DIR/build-i386
    BUILD_DIR_ARM=$MEM_BUILD_DIR/build-arm
    BUILD_DIR_AMD64=$MEM_BUILD_DIR/build-amd64
else
    BUILD_DIR_I386=build-i386
    BUILD_DIR_ARM=build-arm
    BUILD_DIR_AMD64=build-amd64
fi
