#
# Toolchain setup
#
CROSS_COMPILE="arm-linux-"
ADDITIONAL_CFLAGS="-g -ggdb"
ADDITIONAL_LDFLAGS=""

#
# Ucore Kernel Configuration (ARM)
#
# ARM_CPU_V5 is not set
ARM_CPU_V7=y
# ARM_BOARD_GOLDFISH is not set
# ARM_BOARD_VERSATILEPB is not set
# ARM_BOARD_AT91 is not set
ARM_BOARD_PANDABOARD=y
HAVE_RAMDISK=y
RAMDISK_FILE="sfs.img"
DRAM_START=0x80000000
DRAM_SIZE=0x20000000
KERNEL_BASE=0x80001000
# HAVE_BOOTLOADER is not set

#
# Memory Management
#
# SWAP is not set

#
# Schedule
#
# SCHEDULER_RR is not set
SCHEDULER_MLFQ=y

#
# Filesystem
#
HAVE_SFS=y
SFS_IMAGE_SIZE=4
HAVE_YAFFS2=y
HAVE_YAFFS2_RAMDISK=y
# HAVE_FATFS is not set

#
# Linux Device Driver Environment
#
HAVE_LINUX_DDE_BASE=y
DDE_EXAMPLE_CHRDEV=y
# DDE_MMC_SUPPORT is not set
