menu Schedule

choice
  prompt "Scheduler"
  default SCHEDULER_MLFQ 

config SCHEDULER_RR
  bool "Round-Robin"

config SCHEDULER_MLFQ
  bool "MLFQ"

config SCHEDULER_MPRR
  bool "MPRR"
endchoice

endmenu
