#
# Toolchain setup
#
CROSS_COMPILE="nios2-elf-"
ADDITIONAL_CFLAGS=""
ADDITIONAL_LDFLAGS=""

#
# Memory Management
#
SWAP=n

#
# Schedule
#
SCHEDULER_MLFQ=y

#
# Filesystem
#
HAVE_SFS=y
SFS_IMAGE_SIZE=1
# HAVE_YAFFS2 is not set
# HAVE_FATFS is not set

#
# Linux Device Driver Environment
#
# HAVE_LINUX_DDE_BASE is not set
