source src/kern-ucore/Kconfig
source src/kern-ucore/numa/Kconfig
source src/kern-ucore/mm/Kconfig
source src/kern-ucore/schedule/Kconfig
source src/kern-ucore/fs/Kconfig
source src/kern-ucore/module/Kconfig
