#
# Toolchain setup
#

CROSS_COMPILE="mips-elf-"
ADDITIONAL_CFLAGS=""
ADDITIONAL_LDFLAGS=""


# Memory Management
#
SWAP=n

#
# Schedule
#
SCHEDULER_MLFQ=n

#
# Filesystem
#
HAVE_SFS=y
SFS_IMAGE_SIZE=4
# HAVE_YAFFS2 is not set
# HAVE_FATFS is not set

#
# Linux Device Driver Environment
#
# HAVE_LINUX_DDE_BASE is not set
