menu "Toolchain setup"

config CROSS_COMPILE
  string "Cross-compiler tool prefix"

config ADDITIONAL_CFLAGS
  string "Additional CFLAGS"

config ADDITIONAL_LDFLAGS
  string "Additional LDFLAGS"

endmenu
