menu "NUMA Support"

config NR_CPUS
  int  "Maximum number of CPUs supported"
  default 1

config NR_NUMA_NODES
  int "Maximum number of NUMA nodes supported"
  default 1

config NR_MEMS_PER_NODE
  int "Maximum number of continuous memory regions supported in a NUMA node"
  default 1

config ENABLE_IPI
  bool "Enable IPI"
  default n
endmenu
