menu "Linux Device Driver Environment 3.6"

config HAVE_LINUX_DDE36_BASE
  bool "Enable DDE base"
  default n

config DDE36_EXAMPLE_CHRDEV
  depends HAVE_LINUX_DDE36_BASE
  bool "Enable Example Chrdev"
  default n

endmenu

